# Public website URL used for canonical links and sitemap generation
PUBLIC_SITE_URL=https://blesk-off.ru

# Create a project at https://www.sanity.io/manage and paste its ID here
PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=production
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
